* {margin: 0;
    padding: 0;
    color: #1a1a1a;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 10vw;}

body {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    background-color: #1a1a1a;   
}

main {
    width: 100vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffffff70;
}

#container {
    background-color: #dc143c;
    width: 25vw;
    height: 25vw;
    position: relative;
}

.inputTLX {
    position: absolute;
    width: 80px;
    height: 20px;
    top: -40px;
    left: -30px;
}

.inputTLY {
    position: absolute;
    width: 80px;
    height: 20px;
    transform: rotate(90deg);
    top: 10px;
    left: -80px;
}

.inputTRX {
    position: absolute;
    width: 80px;
    height: 20px;
    top: -40px;
    right: -30px;
}

.inputTRY {
    position: absolute;
    width: 80px;
    height: 20px;
    transform: rotate(90deg);
    top: 10px;
    right: -80px;

}

.inputBLX {
    position: absolute;
    width: 80px;
    height: 20px;
    bottom: -40px;
    left: -30px;
}

.inputBLY {
    position: absolute;
    width: 80px;
    height: 20px;
    transform: rotate(90deg);
    bottom: 10px;
    left: -80px;
}

.inputBRX {
    position: absolute;
    width: 80px;
    height: 20px;
    bottom: -40px;
    right: -30px;
}

.inputBRY {
    position: absolute;
    width: 80px;
    height: 20px;
    transform: rotate(90deg);
    bottom: 10px;
    right: -80px;

}

#result {
    color: aliceblue;
    width: 400px;
    font-size: 20px;
    margin: 10px;
}

#btnCopy {
    background-color: #5c5c5c;
    background-image: url(copy-icon.svg);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    color: #f0f8ff;
    width: 8vw;
    height: 70px;
    border: 3px solid #979797;
}

#btnCopy:hover {
    background-color: #979797;
}

#title {
    font-size: 30px;
    color: aliceblue;
}

#resultLabel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
    height: 70px;
    background-color: #5c5c5c;
}